
{% load static from staticfiles %}

{% if glaze_console_js or glaze_console_html %}
<!-- Glaze Console -->

<script type="text/javascript" src="{% static "glaze/js/console.js" %}"></script>

{% if glaze_console_js %}
	<script type="text/javascript">{{ glaze_console_js|safe }}</script>
{% endif %}

{% if glaze_console_html %}
	<link rel="stylesheet" type="text/css" href="{% static "glaze/css/console.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "glaze/css/pygments.css" %}" />
	<div id="glaze-console">{{ glaze_console_html|safe }}</div>
{% endif %}

<!-- END Glaze Console -->
{% endif %}
