  <!--GLAZE CUSTOMIZATIONS START-->
  <style type="text/css">
    body { font-size:medium; }
    h1 { font-size:140%; }
    h2 { font-size:130%; }
    h3 { font-size:120%; }
    h4 { font-size:110%; }
    pre.exception_value { font-size:120%; }
    .user div.context ol.context-line li { background-color:#FFDDDD; }
    ul.traceback li.user { background-color:white; }
    .user div.context ol li { color:black; }
  </style>

  {% if not is_email %}
  <script type="text/javascript">
  //<!--

  function toggleMeta() {
    var elems = getElementsByClassName(document, 'table', 'meta');
    var style = elems[elems.length - 1].style;
    style.display = style.display == 'none' ? 'block' : 'none';
    return false;
  }

  function showLast(elems) {
    elems[elems.length - 1].style.display = 'block';
  }

  var originalOnload = window.onload;
  window.onload = function() {
    originalOnload();
    showLast(getElementsByClassName(document, 'ol', 'pre-context'));
    showLast(getElementsByClassName(document, 'ol', 'post-context'));
    hideAll(getElementsByClassName(document, 'table', 'meta'));

    var commands = getElementsByClassName(document, 'span', 'commands')[0];
    commands.innerHTML += ' - <a href="#" onclick="return toggleMeta();">Toggle meta table</a>';
  }

  //-->
  </script>
  {% endif %}
  <!--GLAZE CUSTOMIZATIONS END-->
