

#branding, #user-tools {
    float: none;
}

#branding h1, #user-tools, .glaze-navbar-inner {
    width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#header {
    height: auto;
	padding: 0px;
}

#user-tools {
	position: static;
	right: auto;
	top: auto;
	padding: 0px;
	height: 36px;
	margin-top: -36px;
}

.breadcrumbs {
	display: none;
}

.glaze-navbar {
	background: #79aec8;
	padding: 4px 0px;
}

.glaze-navbar a:link, .glaze-navbar a:visited {
    color: white;
}

.glaze-navbar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: normal;
}

.glaze-navbar li {
	display: inline;
	padding: 0px;
	margin-right: 1em;
}

#content, ul.messagelist {
	display: table;
    width: 940px;
	margin: 10px auto;
}

.popup #content {
    margin: 10px 15px;
    width: 95%;
}

ul.messagelist li {
	border: 1px solid #DDDDDD;
	margin: 0px 0px 10px 0px;
}

.results a {
	display: block;
}

body.login #content {
	display: block;
	width: auto;
	padding: 0px;
    margin: 10px 15px;
}

body.dashboard .colMS {
	margin-right: auto !important;
}

body.dashboard div#content {
	width: 940px;
}

body.dashboard div#content-main {
	width: 500px;
}

body.dashboard div#content-related {
	width: 430px;
	margin-right: 0px;
}



