
#glaze-console, #glaze-console pre, #glaze-console td, #glaze-console th {
    font-family: 'Courier New','Consolas','DejaVu Sans Mono',monospace;
	font-size: 13px;
	line-height: 120%;
	color: black;
}

#glaze-console pre {
    background-color: #F9F9F9;
	border: 1px solid #DDDDDD;
	padding: 0.5em;
	margin: 10px 0;
    overflow-x: auto;
}

#glaze-console a {
	text-decoration: none;
	color: #5B80B2;
}

#glaze-console thead th, #glaze-console thead td {
	background: #DDDDDD;
}

#glaze-console table, #glaze-console th, #glaze-console td {
	border: 1px solid #BBBBBB;
	padding: 3px 6px;
}

#glaze-console table {
	border-collapse: collapse;
	margin: 10px 0;
}

.glaze-details td {
	white-space: pre;
}

.glaze-details {
	display: none;
}

